/* You can add global styles to this file, and also import other style files */
/* ================= Dark Theme Base ================= */
body {
  background-color: #121212;
  color: #e2e8f0; // light gray text
  font-family: 'Roboto', sans-serif;
}